<div ng-controller="StaffCtrl">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <form class="well" role="form">
        <div class="form-group">
          <label for="name">Nome</label>
          <input id="name" class="form-control" type="text" ng-model="name">
        </div>
        <div class="form-group">
          <label for="id">Código identificador</label>
          <input id="id" class="form-control" type="text" ng-model="id">
        </div>

        <button class="btn btn-primary" type="button" ng-click="addStaffMember()">
          Cadastrar!
        </button>
      </form>
    </div>
  </div>

  <hr>

  <div class="row" ng-if="members.length > 0">
    <div class="col-lg-6 col-lg-offset-3">
      <table class="table table-bordered">
        <thead>
          <th>Id</th>
          <th>Nome</th>
        </thead>

        <tbody>
          <tr ng-repeat="member in members">
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
