<!DOCTYPE html>
<html lang="en" ng-app="phoneCount">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="public/hipopotamo-voador/vendor.css">
  <title>Phone Count!</title>
</head>
<body>

<div class="container">
  <div class="header">
    <h3 class="text-muted">Phone Count</h3>
  </div>
  
  <div class="row" ng-controller="AddCtrl">
    <div class="col-lg-6">
      <h2>Registre um horário de ligação</h2>

      <form>
        <div class="form-group">
          <label for="quantity">Quantidade de ligações</label>
          <input class="form-control" type="number" 
                name="quantity" ng-model="quantity">
        </div>
        <div class="form-group">
          <label for="date">Data</label>
          <input class="form-control" type="date" name="date"
                ng-model="date">
        </div>

        <button class="btn btn-default" type="button" ng-click="addEvent(quantity, date)">
          Registrar!
        </button>
      </form>
    </div>

    <div class="col-lg-6">
      <table class="table">
        <thead>
          <th>Data</th>
          <th>Número de ligações</th>
        </thead>

        <tbody>
          <tr ng-repeat="event in events">
            <td>{{ event.date | date }}</td>
            <td>{{ event.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

  
<script src="public/hipopotamo-voador/vendor.js"></script>
<script src="public/hipopotamo-voador/dist.js"></script>
</body>
</html>
