<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Playing with charts</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <header></header>

  <section class="content-wrapper">
    <%= yield %>
  </section>

  <footer></footer>
</body>
</html>
